In [1]:
from metrics import *
import pandas as pd

# Normal results

In [20]:
exp = "normal"
results_path = f'../data/{exp}/results/'

results = pd.read_pickle(results_path + "results_table.pkl")
results

                            PL            CNN              ABC  \
brown  MSE_r    3.1893 (20.44)  0.4725 (0.94)    1.6145 (1.79)
       MSE_s     0.1256 (0.22)  0.0248 (0.04)    0.2551 (0.32)
       MSE_ext   0.7118 (1.19)  0.1972 (0.36)    1.3252 (1.67)
       KL        0.5637 (1.16)  0.1373 (0.25)    0.9352 (1.09)
       IS_r                  -              -    4.5877 (3.03)
       IS_s                  -              -    3.4340 (6.53)
       IIS                   -              -  53.6913 (93.20)
       ES                    -              -    0.8492 (0.43)
powexp MSE_r     8.3504 (6.86)  0.6659 (1.28)    1.5956 (1.49)
       MSE_s     0.7770 (0.85)  0.1109 (0.15)    0.1864 (0.17)
       MSE_ext   0.3124 (0.17)  0.0249 (0.04)    0.0509 (0.04)
       KL        0.1922 (0.16)  0.0263 (0.04)    0.0616 (0.05)
       IS_r                  -              -    4.2966 (0.33)
       IS_s                  -              -    1.4662 (0.26)
       IIS                   -              -    4.2289 (3.27)
       ES                    -              -    0.8154 (0.32)

                         CNN_ES
brown  MSE_r      0.4198 (0.74)
       MSE_s      0.0250 (0.05)
       MSE_ext    0.1748 (0.28)
       KL         0.1218 (0.19)
       IS_r       2.8093 (3.51)
       IS_s       0.9040 (1.55)
       IIS      11.1230 (10.65)
       ES         0.3723 (0.28)
powexp MSE_r      0.8964 (1.91)
       MSE_s      0.0503 (0.08)
       MSE_ext    0.0214 (0.03)
       KL         0.0299 (0.04)
       IS_r       4.8788 (9.83)
       IS_s       1.3777 (2.32)
       IIS        3.7197 (8.88)
       ES         0.5134 (0.43)

In [3]:
print(results.to_latex(index=True,
                  formatters={"name": str.upper},
                  float_format="{:.4f}".format,
))

\begin{tabular}{llllll}
\toprule
 &  & PL & CNN & ABC & CNN_ES \\
\midrule
\multirow[t]{8}{*}{brown} & MSE_r & 3.1893 (20.44) & 0.4725 (0.94) & 1.6145 (1.79) & 0.4198 (0.74) \\
 & MSE_s & 0.1256 (0.22) & 0.0248 (0.04) & 0.2551 (0.32) & 0.0250 (0.05) \\
 & MSE_ext & 0.7118 (1.19) & 0.1972 (0.36) & 1.3252 (1.67) & 0.1748 (0.28) \\
 & KL & 0.5637 (1.16) & 0.1373 (0.25) & 0.9352 (1.09) & 0.1218 (0.19) \\
 & IS_r & - & - & 4.5877 (3.03) & 2.8093 (3.51) \\
 & IS_s & - & - & 3.4340 (6.53) & 0.9040 (1.55) \\
 & IIS & - & - & 53.6913 (93.20) & 11.1230 (10.65) \\
 & ES & - & - & 0.8492 (0.43) & 0.3723 (0.28) \\
\cline{1-6}
\multirow[t]{8}{*}{powexp} & MSE_r & 8.3504 (6.86) & 0.6659 (1.28) & 1.5956 (1.49) & 0.8964 (1.91) \\
 & MSE_s & 0.7770 (0.85) & 0.1109 (0.15) & 0.1864 (0.17) & 0.0503 (0.08) \\
 & MSE_ext & 0.3124 (0.17) & 0.0249 (0.04) & 0.0509 (0.04) & 0.0214 (0.03) \\
 & KL & 0.1922 (0.16) & 0.0263 (0.04) & 0.0616 (0.05) & 0.0299 (0.04) \\
 & IS_r & - & - & 4.2966 (0.33) & 4.8788 (9.83) \\
 & IS_s & - & - & 1.4662 (0.26) & 1.3777 (2.32) \\
 & IIS & - & - & 4.2289 (3.27) & 3.7197 (8.88) \\
 & ES & - & - & 0.8154 (0.32) & 0.5134 (0.43) \\
\cline{1-6}
\bottomrule
\end{tabular}

# Outside parameters

In [4]:
exp = "outside_parameters"
results_path = f'../data/{exp}/results/'

results = pd.read_pickle(results_path + "results_table.pkl")
results

                            PL              CNN               ABC  \
brown MSE_r    13.0663 (29.13)  12.7269 (11.93)   18.0117 (15.15)
      MSE_s      0.2317 (0.55)    0.0649 (0.08)     0.5240 (0.58)
      MSE_ext    0.9064 (1.46)    0.9131 (0.94)     2.6426 (2.47)
      KL         1.2925 (2.34)    1.0029 (0.81)     2.6142 (1.88)
      IS_r                   -                -   87.4910 (68.32)
      IS_s                   -                -    9.1222 (12.24)
      IIS                    -                -  110.9002 (99.66)
      ES                     -                -     3.2457 (1.75)

                        CNN_ES
brown MSE_r     10.1144 (9.92)
      MSE_s      0.0712 (0.16)
      MSE_ext    0.8857 (0.88)
      KL         0.8256 (0.71)
      IS_r     57.1933 (55.65)
      IS_s       2.5114 (4.66)
      IIS      77.4787 (82.53)
      ES         2.3490 (1.58)

In [5]:
print(results.to_latex(index=True,
                  formatters={"name": str.upper},
                  float_format="{:.4f}".format,
))

\begin{tabular}{llllll}
\toprule
 &  & PL & CNN & ABC & CNN_ES \\
\midrule
\multirow[t]{8}{*}{brown} & MSE_r & 13.0663 (29.13) & 12.7269 (11.93) & 18.0117 (15.15) & 10.1144 (9.92) \\
 & MSE_s & 0.2317 (0.55) & 0.0649 (0.08) & 0.5240 (0.58) & 0.0712 (0.16) \\
 & MSE_ext & 0.9064 (1.46) & 0.9131 (0.94) & 2.6426 (2.47) & 0.8857 (0.88) \\
 & KL & 1.2925 (2.34) & 1.0029 (0.81) & 2.6142 (1.88) & 0.8256 (0.71) \\
 & IS_r & - & - & 87.4910 (68.32) & 57.1933 (55.65) \\
 & IS_s & - & - & 9.1222 (12.24) & 2.5114 (4.66) \\
 & IIS & - & - & 110.9002 (99.66) & 77.4787 (82.53) \\
 & ES & - & - & 3.2457 (1.75) & 2.3490 (1.58) \\
\cline{1-6}
\bottomrule
\end{tabular}

# Outside model

## Whitmat scenario

In [2]:
exp = "outside_model"
results_path = f'../data/{exp}/results/'

results = pd.read_pickle(results_path + "whitmat_results_table.pkl")
results

                            PL            CNN              ABC  \
whitmat MSE_r    9.6138 (7.28)  1.1082 (1.32)    1.6959 (1.47)
        MSE_s    0.9380 (0.89)  0.1764 (0.18)    0.1674 (0.16)
        MSE_ext  0.6934 (0.42)  0.0597 (0.09)    0.1726 (0.19)
        KL       0.7021 (0.67)  0.1229 (0.21)    0.3203 (0.42)
        IS_r                 -              -    4.3120 (0.41)
        IS_s                 -              -    1.4622 (0.29)
        IIS                  -              -  13.8154 (16.80)
        ES                   -              -    0.8283 (0.32)

                          CNN_ES
whitmat MSE_r      3.9063 (4.76)
        MSE_s      0.2036 (0.20)
        MSE_ext    0.0245 (0.05)
        KL         0.0510 (0.11)
        IS_r     16.3501 (17.59)
        IS_s       6.0330 (6.69)
        IIS        3.2833 (5.25)
        ES         1.2420 (0.77)

In [3]:
print(results.to_latex(index=True,
                  formatters={"name": str.upper},
                  float_format="{:.4f}".format,
))

\begin{tabular}{llllll}
\toprule
 &  & PL & CNN & ABC & CNN_ES \\
\midrule
\multirow[t]{8}{*}{whitmat} & MSE_r & 9.6138 (7.28) & 1.1082 (1.32) & 1.6959 (1.47) & 3.9063 (4.76) \\
 & MSE_s & 0.9380 (0.89) & 0.1764 (0.18) & 0.1674 (0.16) & 0.2036 (0.20) \\
 & MSE_ext & 0.6934 (0.42) & 0.0597 (0.09) & 0.1726 (0.19) & 0.0245 (0.05) \\
 & KL & 0.7021 (0.67) & 0.1229 (0.21) & 0.3203 (0.42) & 0.0510 (0.11) \\
 & IS_r & - & - & 4.3120 (0.41) & 16.3501 (17.59) \\
 & IS_s & - & - & 1.4622 (0.29) & 6.0330 (6.69) \\
 & IIS & - & - & 13.8154 (16.80) & 3.2833 (5.25) \\
 & ES & - & - & 0.8283 (0.32) & 1.2420 (0.77) \\
\cline{1-6}
\bottomrule
\end{tabular}

## Smith scenario

In [8]:
exp = "outside_model"
results_path = f'../data/{exp}/results/'

results = pd.read_pickle(results_path + "brown_results_table.pkl")
results

                          PL            CNN               ABC         CNN_ES
brown MSE_r    0.2294 (1.12)  0.0613 (0.09)     0.8872 (1.11)  0.3307 (1.56)
      MSE_s    0.1572 (0.39)  0.1786 (0.10)     0.8110 (0.68)  0.0413 (0.06)
      MSE_ext  0.2458 (0.83)  0.1007 (0.07)     1.8315 (2.30)  0.0887 (0.19)
      KL       0.1314 (0.49)  0.0535 (0.04)     1.0223 (1.40)  0.0627 (0.10)
      IS_r                 -              -     4.2246 (0.89)  1.9824 (1.90)
      IS_s                 -              -    9.2757 (14.58)  2.7755 (2.00)
      IIS                  -              -  79.0402 (146.27)  4.3712 (4.58)
      ES                   -              -     0.8945 (0.40)  0.2786 (0.25)

In [9]:
print(results.to_latex(index=True,
                  formatters={"name": str.upper},
                  float_format="{:.4f}".format,
))

\begin{tabular}{llllll}
\toprule
 &  & PL & CNN & ABC & CNN_ES \\
\midrule
\multirow[t]{8}{*}{brown} & MSE_r & 0.2294 (1.12) & 0.0613 (0.09) & 0.8872 (1.11) & 0.3307 (1.56) \\
 & MSE_s & 0.1572 (0.39) & 0.1786 (0.10) & 0.8110 (0.68) & 0.0413 (0.06) \\
 & MSE_ext & 0.2458 (0.83) & 0.1007 (0.07) & 1.8315 (2.30) & 0.0887 (0.19) \\
 & KL & 0.1314 (0.49) & 0.0535 (0.04) & 1.0223 (1.40) & 0.0627 (0.10) \\
 & IS_r & - & - & 4.2246 (0.89) & 1.9824 (1.90) \\
 & IS_s & - & - & 9.2757 (14.58) & 2.7755 (2.00) \\
 & IIS & - & - & 79.0402 (146.27) & 4.3712 (4.58) \\
 & ES & - & - & 0.8945 (0.40) & 0.2786 (0.25) \\
\cline{1-6}
\bottomrule
\end{tabular}